[submodule "vendor/plugins/redmine_burndown"]
	path = vendor/plugins/redmine_burndown
	url = git://github.com/scrumalliance/redmine_burndown.git
[submodule "vendor/plugins/redmine_task_board"]
	path = vendor/plugins/redmine_task_board
	url = git://github.com/scrumalliance/redmine_task_board.git
