<div class="splitcontentleft">
  <% split_on = (@issue.custom_field_values.size / 2.0).ceil %>

  <% @issue.custom_field_values.each_with_index do |value, idx| %>
    <% if idx == split_on -%>
      </div><div class="splitcontentright">
    <% end -%>
    <p><%= custom_field_tag_with_label :issue, value %></p>
  <% end -%>
</div>
<div style="clear:both;"> </div>